#h1{
    color: red;
}
#h2{
    color: blue;
}
.mypara1{
    background-color: red;
    color: black;
    font-size: 35px;
    font-weight: bolder;
}
.firsth4{
    text-decoration-line: underline;
}
.liste{
    font-style: italic;
}
